{% extends "layout.html" %}

{% block title %}
    Multiplaye Scores
{% endblock %}

{% block main %}
<div class="header">Multiplayer Scores</div>
    <table class ="table tablestriped">
        <thead>
            <tr>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{ score["score"] }}</td>
                <td>{{ score["date"] }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}